
# excluded folders
**/bin
**/lib
**/.settings
**/percolation-resources
**/queues
**/collinear
**/8puzzle
**/kdtree

# Project files
*.checkstyle
*.project
*.classpath

# Excluded files
KdTreeGenerator.java
KdTreeVisualizer.java
NearestNeighborVisualizer.java
RangeSearchVisualizer.java
